body {
  position:absolute;
  width:100%;
  height:100%;
  margin:auto;
  text-align:center;
  border-collapse:collapse;
  font-family: sans-serif;
}

.header {
  color: white;
  background: #48505B;
  padding: 30px 0 ;
  width:100%;
  background-repeat: no-repeat;
  background-size: 100%; 
  background-position: center center;
  border-bottom: 1px solid #ccc;
}

h2 {
  margin: 0;
  padding: 0;
}

.content{
  margin: 0;
  padding: 0;
}
.about {
  padding: 30px 0;
  width: 100%;
  text-align: center;
  display:block;
  background: #f3f3f3;
}

.my_desctription {
  color: #333;
  padding:0 0 15px 0;
}

.knowledge{
  background: #blue;
  display:block;
  width:100%;
  padding: 100px 0 ;
  height:auto;
}

.objetives {
  color: #999;
  background: #95a7b2;
  background-size: 100%;
  background-position: center center;
  padding: 100px;
}

.process {
  padding: 100px 0;
}

.networks {
  border-top: 1px solid #ccc;
  padding: 30px 33%;
  text-align: center;
}

.networks span {
  text-align: center;
  padding: 10px 35px;
  width:25px;
}

.img_skills{
  width:auto;
  padding: 0 25%;
}

.img_skills img {
  float: left;
  display: block;
  background: none;
  border-radius: 60;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  }

.text_skills{
  width:100%;
}

.work {
  position: relative;
  padding: 0;
  width: 33.33%;
  float: left;
}
.work img {
  width: 100%;
}

.description {
  color: white;
  position: relative;
  float: left;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  height: 100px;
  padding: 50px 0;
}

.footer {
  width: 100%;
  color: white;
  background: #ccc;
  padding: 45px 0;
  z-index: 100;
}